body{background:#eee;}
.login_form_wrapper{max-width:320px;margin:50px auto;border-radius:3px;overflow:hidden;background:#000;padding-bottom:1px;}
.login_form_wrapper .logo{width:100%;padding:15px 0;}
.login_form{background:#fff;padding:15px;}
.login_form h4{font-size:30px;color:#666;text-align:center;margin-bottom:20px;}
.login_form .btn{width:100%;border-radius:2px;border:none;transition:all .3s ease-in-out;}
.login_form .header_icon{display:block;width:80px;height:80px;padding-top:7px;
  color:#2C689D;overflow:hidden;margin:0 auto;
  text-align:center;font-size:70px;background:#ddd;
  border-radius:50%;border:3px solid #fff;box-shadow:0 0 4px #2C689D;}


@media (max-width: 767px) {
	.login_form_wrapper{margin:10px auto;max-width:280px;}
}